<div class="virtual-keyboard">
  <div class="keyboard-row" *ngFor="let row of keyboardLayout">
    <button
      *ngFor="let key of row"
      (click)="onKeyClick(key.key, key.shift)"
    >
    <div [ngClass]="{'btn': isShiftOn && key.key === 'Shift' || isCapsLocksOn && key.key === 'Caps Lock'}">
      <div class="keys">
        <span *ngIf="key.shift !== undefined">{{ key.shift }}</span>
        <strong>{{ key.key }}</strong>
       </div>
    </div>
    </button>
  </div>
</div>

<!-- Display the input text in a textarea -->
<div class="input-textarea">
  <textarea [(ngModel)]="inputText"></textarea>
</div>

